.about {
  padding: 30px;
  padding-bottom: 50px;
}

.about > h1 {
  font-family: "Poppins";
  color: black;
  font-size: 50px;
  animation: about_shift 3s forwards;
  text-align: center;
}

.about > hr {
  width: 10%;
  background-color: black;
  height: 5px;
  margin-left: 45%;
  animation: about_shift 4s forwards;
}

.about > h3 {
  font-family: "Poppins";
  color: black;
  font-size: 1.5rem;
  animation: about_shift 3s forwards;
  text-align: center;
  word-spacing: 2;
  line-height: 50px;
}

.profile__svg {
  width: 20%;
}

.about__divide {
  display: flex;
  justify-content: space-around;
}

.skills {
  flex: 0.5;
}

.skills__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.skills__list > li {
  margin: 5px;
  background: #f0ece2;
  padding: 10px;
  border-radius: 20px;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "poppins";
}

/* @keyframes about_shift {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(45%);
  }
} */
