.about {
  height: 30rem;
  background-color: #383e56;
  padding: 30px;
  padding-bottom: 250px;
  width: 100vw;
  height: 50vh;
}

.flex__layout__projects {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects > h1 {
  text-align: center;
}

.card {
  width: 600px;
  object-fit: contain;
  border-radius: 10px;
}

.card > img {
  width: 600px;
  height: 300px;
  object-fit: contain;
  opacity: 0.5;
}

.work {
  height: 500px;
  background-color: #383e56;
}

.contact {
  height: 500px;
}
