body {
  overflow-x: hidden;
}

.flex__layout__projects {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects {
  background-color: #00af91;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects > h1 {
  text-align: center;
  font-family: "Poppins";
  color: white;
  font-size: 50px;
  animation: about_shift 3s forwards;
}

.card {
  width: 600px;
  object-fit: contain;
  border-radius: 10px;
}

.card > img {
  width: 600px;
  height: 300px;
  object-fit: contain;
  opacity: 0.5;
}

.work {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 500px;
}

.work > h1 {
  font-family: "Poppins";
  color: black;
  font-size: 50px;
  animation: about_shift 3s forwards;
  text-align: center;
}

.work > div {
  margin-left: 40px;
}

.work > div > h6 {
  margin-left: 40px;
}

.contact {
  height: 500px;
}
